#{extends 'main.html' /} 
#{set title:'Home' /}

			
			<meta charset="utf-8">
			
<div class="row page-title-header">
	<div class="col-12">
		<div class="page-header">
			<h4 class="page-title">Bem vindo(a) ao SAC</h4>
		</div>
	</div>
	<div class="col-md-12">
		<div class="page-header-toolbar"></div>
	</div>
	<!-- Page Title Header Ends-->
	<div class="col-md-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="d-flex">
							<h4 class="card-title mb-0">O SAC é uma plataforma de
								gerenciamento de cursos totalmente online.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>