<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>#{get 'title' /}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="@{'public/stylesheets/mainA.css'}">
    <link rel="stylesheet" href="@{'public/stylesheets/main.css'}">
    <link rel="stylesheet" href="@{'public/StarAdmin/src/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}">
    <link rel="stylesheet" href="@{'public/StarAdmin/src/assets/vendors/iconfonts/ionicons/css/ionicons.css'}">
    <link rel="stylesheet" href="@{'public/StarAdmin/src/assets/vendors/iconfonts/typicons/src/font/typicons.css'}">
    <link rel="stylesheet" href="@{'public/StarAdmin/src/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css'}">
    <link rel="stylesheet" href="@{'public/StarAdmin/src/assets/vendors/css/vendor.bundle.base.css'}">
    <link rel="stylesheet" href="@{'public/StarAdmin/src/assets/vendors/css/vendor.bundle.addons.css'}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="@{'public/StarAdmin/src/assets/css/shared/style.css'}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="@{'public/StarAdmin/src/assets/css/demo_1/style.css'}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="@{'public/StarAdmin/src/assets/images/favicon.png'}" />
    
    #{get 'moreStyles' /}
    
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="@{Application.index}">
            <img src="@{'public/StarAdmin/src/assets/images/logoH.png'}" alt="logo" /> </a>
          <a class="navbar-brand brand-logo-mini" href="@{Application.index}">
            <img src="@{'public/StarAdmin/src/assets/images/logo-mini.svg'}" alt="logo" /> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <form class="ml-auto search-form d-none d-md-block" action="#">
            <div class="form-group">
              <input type="search" class="form-control" placeholder="Pesquisar">
            </div>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">                
              <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="@{'public/StarAdmin/src/assets/images/faces/face28.png'}" alt="Profile image"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="@{'public/StarAdmin/src/assets/images/faces/face28.png'}" alt="Profile image">
                  <p class="mb-1 mt-3 font-weight-semibold">${session.get("Usuario.nome")}</p>
                  <p class="font-weight-light text-muted mb-0">${session.get("Usuario.matricula")}</p>
                </div>
                <a href="@{Login.Sair}">
                <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-danger">Sair</button></a> 
              	
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
            </li>
            <li class="nav-item nav-category">Menu</li>
            <li class="nav-item">
              <a class="nav-link" href="@{Application.index}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Página Inicial</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon typcn typcn-document-add"></i>
                <span class="menu-title">Cadastros</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="@{Alunos.form}"> Adicionar Aluno </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="@{Professores.form}"> Adicionar Professor </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="@{Turmas.form}"> Adicionar Turma </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Participantes</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="@{Alunos.listar}"> Ver Alunos </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="@{Professores.listar}"> Ver Professores </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="@{Turmas.listar}">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Turmas</span>
              </a>
            </li>
            </li>
          </ul>
        </nav>
          <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Page Title Header Starts-->
            
            
            	${session.get ("aluno.nome")}
    
    	#{if flash.success}
    		<div class="verde">
    		<center>${flash.success}</center>
    		</div>
    	#{/if}
    	#{if flash.error}
    		<div class="vermelho">
    		${flash.error}
    		</div>
    	#{/if}
    
        #{doLayout /}
            
            </div>
    		</div>
    	</div>        
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="@{'public/StarAdmin/src/assets/vendors/js/vendor.bundle.base.js'}"></script>
    <script src="@{'public/StarAdmin/src/assets/vendors/js/vendor.bundle.addons.js'}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="@{'public/StarAdmin/src/assets/js/shared/off-canvas.js'}"></script>
    <script src="@{'public/StarAdmin/src/assets/js/shared/misc.js'}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="@{'public/StarAdmin/src/assets/js/demo_1/dashboard.js'}"></script>
    <!-- End custom js for this page-->
    
     #{get 'moreScripts' /}
     
  </body>
</html>

